


  <h2>Products used in the recipe: </h2>
  <%= @recipe.description %>
  <%= @recipe.instructions %>
  <%= @recipe.difficulty %>


   <% @recipe.products.each do |recipe| %>
      <div class="recipe-card">
        <%= recipe.name %>
        <div class="recipe-button">
          <a href= <%=add_to_basket_path(recipe.id)%> class="add-to-cart-btn">ADD</a>
        </div>
      </div>
    <% end %>


<div>
  <h1><%= @recipe.title %></h1>
</div>

<%= @recipe.producer.name %>
<%= @recipe.producer.city %>
<%= @recipe.producer.photo %>
<%= @recipe.producer.description %>
