<div class="recipe-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @recipe.photo %>);">
  <div class="recipe-banner-difficulty">Difficulty: <%= @recipe.difficulty %>
  </div>
  <div class="recipe-banner-bottom">
    <div class="recipe-banner-card-description">
        <h2><%= @recipe.title %></h2>
        <p><%= @recipe.description %></p>
    </div>
    <div class="recipe-banner-avatar-name">
      <div class="recipe-banner-producer-avatar" style="background-image: url(<%= @recipe.producer.photo %>)">
      </div>
      <div class="recipe-banner-producer-name">
        <%= @recipe.producer.name %>
      </div>

    </div>
  </div>
</div>





