
<div class="recipe-page">
  <div class="recipe-section">
    <h3 style="font-size: 15px; color: #c0c0c0">recipe</h3>
    <div class="recipe-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(<%= @recipe.photo %>);">
      <div class="recipe-banner-difficulty">Difficulty: <%= @recipe.difficulty %>
      </div>
      <div class="recipe-banner-bottom">

        <h2><%= @recipe.title %></h2>
        <div class="recipe-banner-avatar-name">
          <div class="recipe-banner-producer-avatar" style="background-image: url(<%= @recipe.producer.photo %>)">
          </div>
          <div class="recipe-banner-producer-name">
            <%= @recipe.producer.name %>
          </div>

        </div>
      </div>
    </div>
    <div style="display: flex">
      <div style="flex: 1 1 auto; margin-right: 50px">
        <h3 class="recipe-title">ingredients</h3>
          <% @recipe.products.each do |product| %>
        <p class="recipe-para"><%= product.name %></p>
      <% end %>
      </div>
      <div style="flex: 1 1 auto; margin-right: 50px">
        <h3 class="recipe-title">method</h3>
        <% @recipe.instructions.each_with_index do |instruction, index|%>
        <p class="recipe-para"><strong>step <%= index + 1 %></strong> <%= instruction %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="buy-ingredients">
    <h3 style="font-size: 15px; color: #c0c0c0">buy ingredients</h3>
    <% @recipe.products.each do |recipe| %>
      <div class="ingredient-card">
        <div class="ingredient-card-photo-info">
          <div class="ingredient-card-photo" style="background-image: url(<%= recipe.photo %>)">
            <div class="ingredient-card-producer-avatar" style="background-image: url(<%= recipe.producer.photo %>)"></div>
          </div>
          <div class="ingredient-info">
            <h3 class="basket-item-name ingredient-name"><%= recipe.name %></h3>
            <p style="font-size: 12px; margin: 0px; font-weight: 500; color: #FFB96E; font-family: 'Montserrat'"><%= humanized_money_with_symbol(recipe.price) %></p>
          </div>
        </div>
        <div class="ingredient-add-button">
          <a style="ingredient-add-icon" href= <%=add_to_basket_path(recipe.id)%> <img src="white-plus-icon.svg" alt=""><%= image_tag 'white-plus-icon.svg', :class => "ingredient-add-icon" %> </a>
        </div>
      </div>
    <% end %>
  </div>

</div>
<div class="footer-spacer"></div>




<!--

  <div class="recipe-content">
    <div>
      <h1><%= @recipe.title %></h1>
    </div>

    <% @recipe.products.each do |recipe| %>
      <div class="recipe-product-card">


        <div class="recipe-card-image" style="background-image: url(<%= recipe.photo %>)">
        </div>

        <div class="recipe-card-producer-avatar" style="background-image: url(<%= @recipe.producer.photo %>)">
        </div>

          <%= recipe.name %>
        <div class="recipe-product-button">
          <a href= <%=add_to_basket_path(recipe.id)%> class="add-to-cart-btn">ADD</a>
        </div>
      </div>
    <% end %>
  </div>





  <h2>Products used in the recipe: </h2>
  <%= @recipe.description %>
  <%= @recipe.instructions %>
  <%= @recipe.difficulty %>

  <%= @recipe.producer.name %>
  <%= @recipe.producer.city %>
  <%= @recipe.producer.photo %>
  <%= @recipe.producer.description %>
 -->


