<!-- STRIPE STYLES -->
<style>
  /**
   * The CSS shown here will not be introduced in the Quickstart guide, but shows
   * how you can use CSS to style your Element's container.
   */
  .StripeElement {
    background-color: transparent;
    height: 40px;
    padding: 10px 12px;

    border-radius: 2px;
    color: #524F4C;

    border: none;
    box-shadow: none;
    border-bottom: 1.5px solid #eaeaea;
  }

  .StripeElement--focus {
    box-shadow: none;
    border-bottom: 1.5px solid #524F4C;
    color: #524F4C;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .ElementsApp, .ElementsApp .InputElement {
    border: none;
    border-bottom: 1.5px solid #eaeaea;
    color: #524F4C;
    padding-bottom: 2px;
    margin-bottom: -2px;
    background-color: transparent;
  }

.ElementsApp input {
  font-family: 'Montserrat', Helvetica, sans-serif!important;

}

.ElementsApp, .ElementsApp .InputElement {
  color: #524F4C!important;
  line-height: 18px;
  font-family: "Montserrat", 'Helvetica'!important,
  sans-serif;
  font-size: 12px!important;
  height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ElementsApp:not(.is-autofilled) .InputElement:-webkit-autofill {
  color: #32325d;
  -webkit-text-fill-color: #32325d;
}
.ElementsApp .InputElement + .Input-placeholder--ie {
  opacity: 1;color: #aab7c4;
}
.ElementsApp .InputElement::-webkit-input-placeholder {
  opacity: 1;color: #aab7c4;
}
.ElementsApp .InputElement::-moz-placeholder {
  opacity: 1;color: #aab7c4;
}
.ElementsApp .InputElement:-ms-input-placeholder {
  opacity: 1;color: #aab7c4;
}
.ElementsApp .InputElement::placeholder {
  opacity: 1;color: #aab7c4;
}
.ElementsApp .InputElement.is-invalid {
  color: #fa755a;
}
.ElementsApp:not(.is-autofilled) .InputElement.is-invalid:-webkit-autofill {
  color: #fa755a;
  -webkit-text-fill-color: #fa755a;
}
.ElementsApp.is-invalid .Icon-fill {
  fill: #fa755a;
}

#card-errors {
  font-size: 10px;
  color: #FC6565;
  margin: 10px 0px;
}
</style>



<div id="site-wrapper">
  <div id="site-menu">
    <div class="basket-content">

      <div class="basket-items" id="basket-items">
        <% if !@order_lines.blank? %>
          <h3 style="margin-bottom: 40px; margin-top: 15px; display: inline-block;">items</h3>
         <span> (<div id="total-id" style="display:inline;"><%=@order_lines.size%></div>&nbsp;items)</span>
          <% @order_lines.each do |item| %>
            <div class="basket-card" id="<%="bask#{item.id.to_s}"%>">
              <div class="basket-card-image" style="background-image: url(<%= item.product.photo %>)">
                <div class="basket-card-producer-avatar" style="background-image: url(<%= item.product.producer.photo %>)">
                </div>
              </div>

                <div class="basket-item-info">
                  <div class="item-info-spacing">
                    <div class="item-name-and-producer">
                      <% product = item.product  %>
                      <% total = product.price*item.quantity%>
                      <h3 class="basket-item-name"><%= product.name%></h3>
    <h3 class="basket-item-producer-info" style="color:#524F4C"><div id="<%="cost#{item.id.to_s}"%>" style="display:inline;"><%=product.price%></div> PER <%= product.unit_type %></h3>
                      <h3 class="basket-item-producer-info"><%= product.producer.name %></h3>
                      <% producer = product.producer  %>
                      <h3 class="basket-item-producer-info"><%= producer.city  %> | 10KM</h3>
                    </div>

                       <div class="add-controls-basket">
                      <div class="plus-minus-qty">
                        <div>
                          <%= link_to image_tag("minus-icon.png", size: "16x2"), remove_order_lines_path(item.id), method: :get, class: "add_quant_basket", onclick: "remove_item(#{item.id})", remote: true%>
                        </div>

                        <div>
                           <%= link_to image_tag("plus-icon.png", size: "16x2"), add_order_lines_path(item.id), method: :get, class: "add_quant_basket", onclick: "add_item(#{item.id})", remote: true%>
                        </div>

                        <div>
                        </div>
                      </div>
                    </div>
                    <div class="item-price-and-qty">
          <h3 class="item-qty">QTY:<div id="<%="qty#{item.id.to_s}"%>"><%= item.quantity %></div></h3>
                      <h3 class="item-price">$<div id="<%="amount#{item.id.to_s}"%>" style="display:inline;"><%=total%></div></h3>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
          <div class="basket-items-spacer"></div>
        <% else %>
          <h3 style="margin-bottom: 40px; margin-top: 15px; display: inline-block;">items</h3>
          <p class="summary-item" style="color: #FFB96E; font-size: 12px; font-weight: 700">Currently there are no items in your basket</p>
        <% end %>

            <div id="hide-empty" style="display:none">
               <h3 style="margin-bottom: 40px; margin-top: 15px; display: inline-block;">items</h3>
                <p class="summary-item" style="color: #FFB96E; font-size: 12px; font-weight: 700">Currently there are no items in your basket</p>
            </div>
          </div>

      <div class="basket-summary">
        <div class="flex-space-between" id="hide-back">
          <a href="#" class="toggle-nav basket-button"><%= image_tag("Triangle.svg", class: "triangle-icon rotate-triangle-icon") %> GO BACK</a>
          <h3 class="basket-title">BASKET</h3>
        </div>
        <h3 style="margin-bottom: 40px; margin-top: 40px;">summary</h3>
        <div class="flex-space-between summary-div">
          <h3 class="summary-item">Grocery Items</h3>
          <h3 class="summary-item">$<div id="grocery-amount" style="display:inline;"><%=@order.amount%></div></h3>
        </div>
        <div class="flex-space-between summary-div">
          <% delivery_cost = 550  %>
          <h3 class="summary-item">Delivery & Handling</h3>
          <h3 class="summary-item">$5.50</h3>
        </div>
        <div class="flex-space-between" style="margin-bottom: 40px; margin-top: 50px;">
          <h3 class="basket-button">TOTAL</h3>
          <% @order.amount_cents = @order.amount_cents + delivery_cost %>
          <h3 class="basket-button">AUS $<div id="order_amount" style="display:inline"><%=@order.amount%></div></h3>
        </div>
        <a href="#" class="toggle-checkout basket-button" id="hide-button">CHECKOUT <%= image_tag("Triangle.svg", class: "triangle-icon") %></a>
      </div>

      <div class="checkout checkout-switch" id="checkout">
        <div class="flex-space-between">
          <a href="#" class="toggle-checkout basket-button"><%= image_tag("Triangle.svg", class: "triangle-icon rotate-triangle-icon") %> EDIT BASKET</a>
          <h3 class="basket-title">CHECKOUT</h3>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-between; width: 100%; margin-bottom: 40px; margin-top: 15px">
          <div>
            <h3 style="margin-bottom: 20px; width: 100%">delivery details</h3>
          </div>
          <div style="width: 100%; text-align: left; color: #C0C0C0">

            <%= simple_form_for [current_user, @contact], remote: true do |f| %>
              <%= f.input :phone, label: false, placeholder: "Phone Number"  %>
              <%= f.input :address, label: false, placeholder: "Delivery Address", :input_html => { id: "address"} %>
              <div style="display:none;"><%= f.submit "SAVE", class: "confirm_address basket-button"%></div>

            <% end %>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-between; width: 100%; margin-bottom: 40px; margin-top: 15px">
          <div>
            <h3 style="margin-bottom: 20px; width: 100%">payment</h3>
          </div>

          <script src="https://js.stripe.com/v3/"></script>

          <form action=<%=order_payments_path(@order.id)%> method="post" id="payment-form">

             <input type="hidden" value=<%=current_user.email%>  name= "stripeEmail">

            <div class="form-row">
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display Element errors. -->
              <div id="card-errors" role="alert"></div>
            </div>

            <button>Submit Payment</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>

  <% if current_user.contact.nil? || current_user.contact.address.blank? %>
    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
 <% end %>

  $('#address').blur(function (event) {
    console.log("blurrr");
    document.getElementById("edit_contact_2").submit();
    document.getElementsByClassName("stripe-button-el")[0].style.display = 'inline-block';
  });

</script>


<script>
  // Create a Stripe client.
  var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");

  // Create an instance of Elements.
  var elements = stripe.elements({
        font: {
            family:'Montserrat',
            src: "url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700')"
        }
    }
  );


  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#524F4C',
      lineHeight: '18px',
      fontSmoothing: 'antialiased',
      fontSize: '14px',
      '::placeholder': {
        color: '#c0c0c0'
      }
    },
    invalid: {
      color: '#FC6565',
      iconColor: '#FC6565'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }



  function remove_item(id) {


    var item_quantity = parseInt(document.querySelector(`#qty${id}`).innerHTML);
    var order_amt = parseInt(document.querySelector("#order_amount").innerHTML);
    var item_cost = parseInt(document.querySelector(`#cost${id}`).innerHTML);
    var item_amt = parseInt(document.querySelector(`#amount${id}`).innerHTML);

     if (item_quantity > 1)
     {

    var item_quantity = item_quantity - 1;
    document.querySelector(`#qty${id}`).innerHTML = item_quantity;
    document.querySelector(`#amount${id}`).innerHTML = item_amt - item_cost;
    document.querySelector("#order_amount").innerHTML = order_amt - item_cost;
    document.querySelector("#grocery-amount").innerHTML = order_amt - item_cost;
      }
     else
       {
      document.querySelector(`#bask${id}`).style.display = "none";
      num_item = parseInt(document.querySelector("#total-id").innerHTML);
      order_amt = parseInt(document.querySelector("#order_amount").innerHTML);

        document.querySelector("#order_amount").innerHTML = order_amt - item_cost;
        document.querySelector("#grocery-amount").innerHTML = order_amt - item_cost;

         if (num_item > 1)

         {
            document.querySelector("#total-id").innerHTML = num_item - 1;
            document.querySelector(`#hide-empty`).style.display = "inline";
         }

       }

  }


   function add_item(id) {

    var item_quantity = parseInt(document.querySelector(`#qty${id}`).innerHTML)
    var order_amt = parseInt(document.querySelector("#order_amount").innerHTML);
    var item_cost = parseInt(document.querySelector(`#cost${id}`).innerHTML);
    var item_amt = parseInt(document.querySelector(`#amount${id}`).innerHTML);


    var item_quantity = item_quantity + 1;


    document.querySelector(`#qty${id}`).innerHTML = item_quantity;
    document.querySelector(`#amount${id}`).innerHTML = item_amt + item_cost;

    document.querySelector("#order_amount").innerHTML = order_amt + item_cost;
    document.querySelector("#grocery-amount").innerHTML = order_amt + item_cost;

  }

</script>
