<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>

<% if check %>
    <div id="check_card" class="alert" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <%= check %>
      <div id="flash_button">
        <%= link_to "Learn how", about_path, class: "homepage-button" %>
      </div>
    </div>
<% end %>

<% if reorder_product %>
    <div id="check_card" class="alert" role="alert" style="display:flex; flex-direction: column;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <div aria-hidden="true">&times;</div>
      </button>
      <div>
        <%= reorder_product %>
      </div>
      <div id="flash_button">
        <%= link_to "checkout now", products_path, class: "homepage-button" %>
      </div>
    </div>
<% end %>



