<div class="navbar-harvest">
  <!-- Logo -->
  <div class="navbar-harvest-left">
    <%= link_to "harvest.", root_path, class: "logo-harvest" %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-harvest-right">
    <div id="invisible-transition-div"></div>

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "SHOP", products_path, class: "navbar-harvest-link" %>
      <!-- Checks basket. Adds counter badge if orders exist -->
      <% if @product_page.present? %>
        <%= link_to "BASKET", orders_path, class: "toggle-nav navbar-harvest-link"%>
        <% product_quantity = 0
         Order.where(user: current_user).find_by(status: "new").order_lines.each do |line|
          product_quantity += line.quantity
         end
         product_quantity
       %>
        <span class="navbar-harvest-link basket-count-show" style="margin-left:0px; color:#FFB96E">[<%= product_quantity %>]</span>
        <%= link_to "HISTORY", order_history_path, class: "navbar-harvest-link" %>
     <% end %>

      <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "navbar-harvest-link" %>

    <% elsif current_page?(root_path)%>
      <!-- Navbar(when on about page) -->
      <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "toggle-login navbar-harvest-link" %>
      <%= link_to t(".sign_in", default: "SIGNUP"), new_user_session_path, class: "toggle-signup navbar-harvest-link" %>
      <%= link_to "ABOUT US", about_path, class: "navbar-harvest-link"  %>
    <% else %>
      <!-- Navbar(when logged out on home page) -->
       <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "toggle-login navbar-harvest-link" %>
      <%= link_to t(".sign_in", default: "SIGNUP"), new_user_session_path, class: "toggle-signup navbar-harvest-link" %>
      <%= link_to "HOME", root_path, class: "navbar-harvest-link"  %>
    <% end %>
  </div>

</div>




