
<% if !@product.blank?%>


  <div id=<%= "product" + @product.id.to_s%> class="show-product">
    <% product = @product %>
    <div class="go-back">
      <a href="#" style="display:block" class="toggle-product basket-button"><img class="x-icon" src="/assets/plus-icon.svg" alt="Triangle"></a>
    </div>
    <div class="product-page-links">
      <ul style="list-style-type: none;">
        <li><a  class="basket-button" style="display: block; margin-bottom:5px" href="">ABOUT PRODUCER</a></li>
        <li><a  class="basket-button" style="display: block; margin-bottom:5px" href="">RELATED RECIPES</a></li>
        <li><a  class="basket-button" style="display: block; margin-bottom:5px" href="">SIMILAR PRODUCTS</a></li>
      </ul>
    </div>
    <div class="product-producer-info-scroll">
      <h2 class="producer-title"><%=@product.producer.name%></h2>
      <p style="margin-bottom: 30px"><%=@product.producer.description%></p>
      <div style="margin-bottom: 5px">
        <h3 class="basket-button" style="display: inline">LOCATION</h3>
        <h3 class="basket-button" style="display: inline; color: #FFB96E">MURWILLUMBAH</h3>
      </div>
      <div class="card-map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&markers=color:red%7C40.718217,-73.998284&zoom=8&size=480x380&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8')";'>
      </div>
      <h3 class="basket-button" style="display: inline">PHOTOS</h3>
      <div class="producer-gallery">
        <div class="gallery-photo"></div>
        <div class="gallery-photo"></div>
        <div class="gallery-photo"></div>
        <div class="gallery-photo"></div>
        <div class="gallery-photo"></div>
      </div>
      <div class="producer-info-spacer"></div>
    </div>

    <div class="product-info">
      <div class="product-modal-title">
        <h3><%= product.producer.name %>'s<br><%= product.name%></h3>

        <div class="product-page-price">
          <h4 class="product-page-price-label">price</h4>
          <h4 class="product-page-price-number"> <%=humanized_money_with_symbol(product.price)%> per kg</h4>
        </div>
      </div>

      <div class="product-page-add">
        <div class="plus-minus-qty">

          <% if ((!current_user.nil?) && (!current_user.orders.find_by(status: "new").nil?) && (!current_user.orders.find_by(status: "new").order_lines.find_by(product: product.id).nil?)) %>
            <% orderline = current_user.orders.find_by(status: "new").order_lines.find_by(product: product.id)%>
            <%= link_to image_tag("minus-icon.png", size: "16x2"), remove_order_lines_path(orderline.id), method: :get, class: "add_quant"%>
            <h3 class="qty"><%= orderline.quantity %></h3>
            <%= link_to image_tag("plus-icon.png", size: "16x16"), add_order_lines_path(orderline.id), method: :get, class: "remove_quant"%>

          <% else %>
            <a onclick="location.href='<%=add_to_basket_path(product.id)%>';" class="add-to-cart-btn">ADD</a>
          <% end %>
        </div>
      </div>




    </div>

  </div>
<% end %>

<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
  $(window).scroll(function() {
    var position = $(this).scrollTop();
    position = position + 200;

    $('.category-section').each(function() {
        var target = $(this).offset().top;
        var id = $(this).attr('id');

        if (position >= target) {
            $('.anchor').removeClass('active');
            $('.anchor[href=#' + id + ']').addClass('active');
        }
    });
});
</script> -->
