<div  style="margin-top: 90px;">
  <h1>My orders</h1>
  <h3 style="margin-bottom: 40px; margin-top: 30px;">processed orders</h3>
  <h3 style="margin-bottom: 40px; margin-top: 15px;">cancelled orders</h3>
  <h3 style="margin-bottom: 40px; margin-top: 15px;">past orders</h3>
  <div class="basket-items" id="basket-items">
    <% if !@orders.blank? %>
      <% @current_user.orders.each_with_index do |order, index| %>
      <h3 style="margin-bottom: 40px; margin-top: 15px;">Order. <%= index + 1 %></h3>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(order.amount) %></span>
      </label>
      <p class="item-qty">(<%= order.order_lines.count %> items)</p>
        <% order.products.each do |product|  %>
        <div class="basket-card">
          <div class="basket-card-image" style="background-image: url(<%= product.photo %>)">
            <div class="basket-card-producer-avatar">
            </div>
          </div>
            <div class="basket-item-info">
              <div class="item-info-spacing">
                <div class="item-name-and-producer">
                  <% total = product.price*order.products.select{ |p| p.name == product.name }.count%>
                  <h3 class="basket-item-name"><%= product.name%></h3>
                  <h3 class="basket-item-producer-info" style="color:#524F4C">
                    <%= product.price%> PER <%= product.unit_type %>
                  </h3>
                   <% producer = product.producer  %>
                  <h3 class="basket-item-producer-info"><%= producer.name %></h3>
                  <h3 class="basket-item-producer-info"><%= producer.city  %> | 10KM</h3>
                </div>
                <div class="item-price-and-qty">
                  <h3 class="item-qty" >QTY: <%= order.products.select{ |p| p.name == product.name }.count %></h3>
                  <h3 class="item-price">$<%= total %></h3>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      <% end %>
      <div class="basket-items-spacer"></div>
    <% else %>
      <h3 style="margin-bottom: 40px; margin-top: 15px; display: inline-block;">Previous orders</h3>
      <p class="summary-item" style="color: #FFB96E; font-size: 12px; font-weight: 700">You have no order history</p>
    <% end %>
  </div>
</div>
