
<h1>Items</h1>
<% if !@order_lines.blank? %>
  <% for item in @order_lines %>
  <p>Name:<%= item.product.name %></p>
  <p>Quantity: <%= item.quantity %> <%= item.product.unit_type %></p>
  <p>Unit Price: <%= humanized_money_with_symbol(item.product.price) %></p>
  <% total = item.product.price*item.quantity%>
  <p>Total Price: <%= humanized_money_with_symbol(total) %></p>
  <%= link_to "Delete", order_line_path(item.id),:style=> 'color:#FF6B6B', method: :destroy%>
  <hr>
  <% end %>
<% else %>
 <h3>You have no orders.</h3>
<% end %>
