
<%# link_to "Checkout", new_order_payment_path(@order.id),:style=> 'color:#FF6B6B'%>

<% if ((!@order.id.nil?) && (!@order.order_lines.empty?)) %>


<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>


  <% end %>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Order"
    data-email="<%= current_user.email %>"
    data-description="Order <%= @order.order_lines.first.quantity %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
<% end %>


 <%# humanized_money_with_symbol(item.product.price) %>
 <%# link_to "Show", product_path(product.id),:style=> 'color:blue'%>

<% if !@order_lines.blank? %>
 <div class="products-section">
    <div class="products-index">
      <% for item in @order_lines %>

        <% product = item.product  %>
        <div class="product-card overlay white">
          <div class="product-card-content">


            <h5 class="product-card-title"><%= link_to image_tag("minus-icon.png", size: "16x2"), order_line_path(item.id), method: :delete, class: "remove_from_basket"%><%= product.producer.name %>'s<br><%= product.name%></h5>
            <div style="display:none" class="unitprice"><%=product.price%></div>

              <% total = product.price*item.quantity%>
            <p class="product-card-price"><%=humanized_money_with_symbol(total)%></p>
          </div>
        <div class="add-controls">
          <div class="plus-minus-qty">

          <% if ((!current_user.nil?) && (!current_user.orders.find_by(status: "new").nil?) && (!current_user.orders.find_by(status: "new").order_lines.find_by(product: product.id).nil?)) %>
            <%= link_to image_tag("minus-icon.png", size: "16x2"), remove_order_lines_path(item.id), method: :get, class: "add_quant"%>
              <h3 class="qty"><%= item.quantity %></h3>
              <%= link_to image_tag("plus-icon.png", size: "16x16"), add_order_lines_path(item.id), method: :get, class: "remove_quant"%>

          <% else %>
            <button class="add-to-cart-btn"><%= link_to "Add", product_order_lines_path(product.id), method: :post, class: "add_to_basket" %></button>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% else %>
 <h3>You have no items in your basket.</h3>
<% end %>


<h2>Contact Info</h2>
<form action="/"></form>

<%= simple_form_for [current_user, @contact] do |f| %>
  <%= f.input :phone %>
    <%= f.input :address, size: "60x12" %>
    <%= f.submit "Confirm" %>
<% end %>



<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
  $('.add_to_basket').click(function (event) {
    addToBasket();
  });

  $('.remove_from_basket').click(function (event) {

    removeFromBasket();
  });
</script>

