
<%# link_to "Checkout", new_order_payment_path(@order.id),:style=> 'color:#FF6B6B'%>



<h4>Buy</h4>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Order"
    data-email="<%= current_user.email %>"
    data-description="Order <%= @order.order_lines.first.quantity %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
<% end %>




<h1>Items</h1>
<% if !@order_lines.blank? %>
  <% for item in @order_lines %>
  <p>Name:<%= item.product.name %></p>
  <p>Quantity: <%= item.quantity %> <%= item.product.unit_type %></p>
  <p>Unit Price: <%= humanized_money_with_symbol(item.product.price) %></p>
  <% total = item.product.price*item.quantity%>
  <p>Total Price: <%= humanized_money_with_symbol(total) %></p>
  <%= link_to "Delete", order_line_path(item.id),:style=> 'color:#FF6B6B', method: :destroy%>
  <hr>
  <% end %>
<% else %>
 <h3>You have no orders.</h3>
<% end %>
