<div class="section" style="background-color: #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <p class="section-para">Harvest helps you cut out the middleman by letting you order directly from the producter.</p>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Easy</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Fresh</h4>
        <p class="feature-para">Order from the field. Get fresh food that has been picked from the field for you.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Support Local Producers</h4>
        <p class="feature-para">By shopping here, you support the livelihood of all our local vendors.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Eco-friendly</h4>
        <p class="feature-para">Pick local food to reduce CO2 emissions.</p>
      </div>
    </div>
  </div>
</div>
<div class="section" style="background-color: white">
  <div class="section-content">
    <h2 class="home-title">Local Producers</h2>
    <p class="section-para">Harvest makes it possible to support local and shop with the people you know, trust and love.</p>
    <div class="cat-links">
      <%= link_to "vegetables", products_path(:anchor => "vegetables"), class: "homepage-cat-link" %>
      <%= link_to "fruits", products_path(:anchor => "fruits"), class: "homepage-cat-link" %>
      <%= link_to "meat", products_path(:anchor => "meats"), class: "homepage-cat-link" %>
      <%= link_to "fish", products_path(:anchor => "fish"), class: "homepage-cat-link" %>
      <%= link_to "dairy & eggs", products_path(:anchor => "dairy"), class: "homepage-cat-link" %>
      <%= link_to "bakery", products_path(:anchor => "bakery"), class: "homepage-cat-link" %>
      <%= link_to "wine & drinks", products_path(:anchor => "wine"), class: "homepage-cat-link" %>
      <%= link_to "pantry", products_path(:anchor => "pantry"), class: "homepage-cat-link" %>
      <%= link_to "deli", products_path(:anchor => "deli"), class: "homepage-cat-link" %>
    </div>
  </div>
</div>
<div class="section" style="background-color: #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <p class="section-para">Harvest helps you cut out the middleman by letting you order directly from the producter.</p>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Easy</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Fresh</h4>
        <p class="feature-para">Order from the field. Get fresh food that has been picked from the field for you.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Support Local Producers</h4>
        <p class="feature-para">By shopping here, you support the livelihood of all our local vendors.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag("https://image.freepik.com/free-vector/100-fresh-green-stamp_1017-7157.jpg") %></div>
        <h4 class="feature-title">Eco-friendly</h4>
        <p class="feature-para">Pick local food to reduce CO2 emissions.</p>
      </div>
    </div>
  </div>
</div>
<div class="section" style="background-color: white">
  <div class="section-content">
    <%= form_tag postcodecheckers_path, method: :get do %>
      <input  class="postcode-input-field" name="email" type="text" placeholder="insert email"/>
      <input type="submit" value="submit" class="homepage-button homepage-submit" data-modal="#modal">
    <% end %>

  </div>
</div>


