<div class="banner-about">
 <div class="section-content">
  <h1 class="home-title-about" style="color: #524F4C;font-size: 90px;">Harvest</h1>
  <h4 class="section-para" style="font-size: 20px; margin-left: 0px;">Eat local groceries, support local producers, conveniently receive your order at your door.</h4>
  </div>
</div>
<div class="section">
  <div class="section-content">
    <h2 class="home-title" style="font-size: 60px">How it works</h2>
    <h4 class="section-para">
      Book parking spaces where you need them, when you need them, from verified local parking space owners.
    </h4>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar">
          <%= image_tag 'https://cdn4.iconfinder.com/data/icons/hotel-facilities-2/512/parking2-512.png', :class => "logo-title-icon" %></i>
        </div>
        <h4 class="feature-title">Easy Parking</h4>
        <p class="feature-para">Find available parking spacing by location and date.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar">
          <%# image_tag 'city-car.png', :class => "city-car-icon" %></i>
        </div>
        <h4 class="feature-title">Commuters & Travellers</h4>
        <p class="feature-para">Spaces available in your town and around globe.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar">
          <%# image_tag 'check-square.svg', :class => "check-square-icon" %></i>
        </div>
        <h4 class="feature-title">Safe Renting</h4>
        <p class="feature-para">Reserve spaces from verified users and get in touch with them.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar">
          <%# image_tag 'calendar-alt.svg', :class => "calendar-square-icon" %></i>
        </div>
        <h4 class="feature-title">Reserve for a trip</h4>
        <p class="feature-para">Reserve your space up to a month before you need it!</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="section" style="background-color: #fbf8f4; padding: 0px, 120px;">
  <div class="section-content" style="width: 100vw;">
    <h2 class="home-title" style="font-size: 42px; margin-bottom: 60px;">what Harvest does</h2>
    <h5 class="section-para" style="text-align: left;font-size: 20px; margin-bottom: 40px"><strong>Strengthens communities</strong> by connecting families and individuals with<br><br> local producers and brings quality, sustainable groceries to their homes.</h5>
  </div>
</div> -->
<!-- <div class="section" style="background-color:  #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Local Producers?</h2>
    <p class="section-para">Harvest lets you support your community and shop through people you know, trust and love.</p>
    </div>
  </div>
</div> -->
<div class="section" style="background-color: #fbf8f4">
  <div class="section-content" style="margin: 100px 0px 80px 0px;">
    <h2 class="home-title">Why Local Producers?</h2>
    <p class="section-para">Harvest lets you support your community and shop through people you know, trust and love.</p>
    </div>
  </div>
  <div class="features" style="justify-content: space-around;background-color: #fbf8f4; margin-top: 0px; padding-bottom: 100px;">
      <div class="feature-about">
        <div ><%= image_tag("female-farmer-2.jpg") %></div>
        <h4 class="feature-title">Taylor Jones from JM Products</h4>
        <p class="feature-para">Family run farm providing fruits and vegetables since 1970 in Cooper Shoot, NSW, Australia.</p>
      </div>
      <div class="feature-about">
        <h4 class="feature-title">Support Local Producers</h4>
        <h4 class="feature-para" style="text-align: left; font-size: 17px;">Locally grown food is full of flavor. When grown locally, the crops are picked at their peak of ripeness versus being harvested early in order to be shipped and distributed to your local retail store.<br><br>
Local food has more nutrients. Local food has a shorter time between harvest and your table, and it is less likely that the nutrient value has decreased.<br><br>
Local food supports the local economy. The money that is spent with local farmers and growers all stays close to home and is reinvested with businesses and services in your community.<br><br>
Local food benefits the environment. By purchasing locally grown foods you help maintain farmland and green and/or open space in your community.<br><br>
Local foods promote a safer food supply. The more steps there are between you and your food’s source the more chances there are for contamination. Food grown in distant locations has the potential for food safety issues at harvesting, washing, shipping and distribution.<br><br>
Local growers can tell you how the food was grown. You can ask what practices they use to raise and harvest the crops. When you know where your food comes from and who grew it, you know a lot more about that food.</h4>
      </div>
  </div>
</div>
<div class="section" style="background-color: white; display: flex; flex-direction: column;">
  <div>
    <h2>Stay up to date with Harvest News!</h2>
  </div>
  <div>
    <%= form_for @subscription, :url => subscriptions_path do |f| %>
      <%= f.text_field :email, placeholder: "enter email" %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
  <% if flash[:create_subscription] %>
    <div class="notice"><%= flash[:create_subscription] %></div>
  <% end %>
</div>



