<div class="banner-about">
 <div class="section-content">
  <h1 class="home-title-about">Harvest</h1>
  <h4 class="section-para-about">Eat local groceries, support local producers, conveniently receive your order at your door.</h4>
  </div>
</div>
<div class="section">
  <div class="section-content">
    <h2 class="title-how_it_works">How it works</h2>
    <h4 class="section-para">Take care of yourself and your family by ordering fresh, local groceries and support the producers in your community.
    </h4>
    <div class="features">
        <div class="feature">
        <div class="feature-avatar"><%= image_tag 'locate.svg', :class => "location-icon"%></i></div>
        <h4 class="feature-title">Find your groceries</h4>
        <p class="feature-para">Enter your address and check out local products</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'shopping_basket.svg', :class => "shopping-basket-icon"%></i></div>
        <h4 class="feature-title">Shop</h4>
        <p class="feature-para">Pick the products and quantities you´d like.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'house_icon.svg', :class => "house-about-icon"%></i></div>
        <h4 class="feature-title">Groceries delivered</h4>
        <p class="feature-para">Recieve your order at your door, only 2 days later.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'enjoy.svg', :class => "enjoy-icon"%></i></div>
        <h4 class="feature-title">Enjoy!</h4>
        <p class="feature-para">The best meals have the freshest products.</p>
      </div>
    </div>
  </div>
</div>
<div class="section_why_local-div">
  <div class="section-content">
    <h2 class="home-title">Why Local Producers?</h2>
    <h5 class="section-para-why_local">Harvest connects families and individuals with local producers and brings quality, sustainable groceries to their homes.</h5>
    <p class="section-para">Support your community and shop through people you know, trust and love.</p>
  </div>
</div>
<div class="section-benefits";
">
  <div class="section-content">
    <h2 class="home-title">Benefits from local producers</h2>
  </div>
  <div class="features-benefits">
      <div class="feature-about">
        <div ><%= image_tag("female-farmer-2.jpg") %></div>
        <h4 class="feature-title">Nicole Patterson from PT Products</h4>
        <p class="feature-para">Family run farm providing fruits and vegetables since 1970 in Cooper Shoot, NSW, Australia.</p>
      </div>
      <div class="feature-about">
        <h4 class="feature-title">Support Local Producers</h4>
        <h4 class="feature-para-support_local">Locally grown food is full of flavor. When grown locally, the crops are picked at their peak of ripeness versus being harvested early in order to be shipped and distributed to your local retail store.<br><br>
Local food has more nutrients. Local food has a shorter time between harvest and your table, and it is less likely that the nutrient value has decreased.<br><br>
Local food supports the local economy. The money that is spent with local farmers and growers all stays close to home and is reinvested with businesses and services in your community.<br><br>
Local food benefits the environment. By purchasing locally grown foods you help maintain farmland and green and/or open space in your community.<br><br>
Local foods promote a safer food supply. The more steps there are between you and your food’s source the more chances there are for contamination. Food grown in distant locations has the potential for food safety issues at harvesting, washing, shipping and distribution.<br><br>
Local growers can tell you how the food was grown. You can ask what practices they use to raise and harvest the crops. When you know where your food comes from and who grew it, you know a lot more about that food.</h4>
        <p class="feature-para-reference"> Reference: Rita Klavinski, Michigan State University Extension http://msue.anr.msu.edu/news/7_benefits_of_eating_local_foods</p>
      </div>
  </div>
</div>
<div class="section-subscribe">
  <div class="subscribe-title">
    <h2>Stay up to date with Harvest News!</h2>
  </div>
  <div class="subscribe-box">
    <%= form_for @subscription, :url => subscriptions_path do |f| %>
      <%= f.text_field :email, placeholder: "enter email" %>
      <%= f.submit "subscribe" %>
    <% end %>
  </div>
<!--   <% if flash[:create_subscription] %>
    <div class="notice"><%= flash[:create_subscription] %></div>
  <% end %> -->
</div>



