
<div class="banner">
  <div class="banner-content">
    <h2 class="home-title">The Farmer's Market.<br>Delivered to your door.</h2>
    <p class="principal-para">Clean, honest food. Made by locals you love and brands you believe in. Home delivered by a family-owned company that’s dedicated to improving your home and community.</p>

    <%= link_to "shop now", products_path, class: "homepage-button" %>
  </div>
</div>

<div class="section" style="background-color: #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <p class="section-para">Harvest helps your family free up time, shop wisely, and eat healthfully while supporting small businesses and local food banks.</p>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Convenient Home Delivery</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Clean Store Promise</h4>
        <p class="feature-para">Shop confidently - All our food meets high standards. Satisfaction guaranteed!</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Support Small Local Businesses</h4>
        <p class="feature-para">By shopping here, you support the livelihood of all our local vendors.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Eco-Delivery</h4>
        <p class="feature-para">An eco-friendly, reusable bag is left at your address each week on your delivery day.</p>
      </div>
    </div>
  </div>
</div>

<div class="section" style="background-color: white">
  <div class="section-content">
    <h2 class="home-title">Get Started</h2>
    <p class="section-para">Let's find your local stall and make sure you're within our delivery area.</p>


    <%= form_tag root_path, method: :get do %>
      <input id="insert" class="postcode-input-field" name="address" type="text" placeholder="check postcode"/>
      <input type="submit" value="check" class="homepage-button homepage-submit">
    <% end %>

  </div>
</div>


<div class="section" style="background-color: #fbf8f4">
  <div class="section-content">
    <h2 class="home-title">Local Producers</h2>
    <p class="section-para">Harvest makes it possible to support local and shop with the people you know, trust and love.</p>
    <div class="cat-links">
      <%= link_to "vegetables", products_path, class: "homepage-cat-link" %>
      <%= link_to "fruits", products_path, class: "homepage-cat-link" %>
      <%= link_to "meat", products_path, class: "homepage-cat-link" %>
      <%= link_to "fish", products_path, class: "homepage-cat-link" %>
      <%= link_to "dairy & eggs", products_path, class: "homepage-cat-link" %>
      <%= link_to "bakery", products_path, class: "homepage-cat-link" %>
      <%= link_to "wine & drinks", products_path, class: "homepage-cat-link" %>
      <%= link_to "pantry", products_path, class: "homepage-cat-link" %>
      <%= link_to "deli", products_path, class: "homepage-cat-link" %>
    </div>
  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">farmers</h3>
    <%= link_to "shop vegetables & fruits", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">butchers</h3>
    <%= link_to "shop meats", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">fishermen</h3>
    <%= link_to "shop local fish", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">dairy & egg farmers</h3>
    <%= link_to "shop dairy & egg products", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">bakers</h3>
    <%= link_to "shop baked goods", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">winemakers</h3>
    <%= link_to "shop wine & drinks", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">cooks</h3>
    <%= link_to "shop pantry items", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">deli creatives</h3>
    <%= link_to "shop deli items", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="demo-btns">
   <div class="info">
      <div class="buttons">
        <p>
          <a href="" data-modal="#modal" class="modal__trigger">Modal 1</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__content">
        <h1>Modal</h1>
        <p>Sorry, we are currently not delivering to your area. Feel free to sign up to our mailing list.</p>

        <!-- modal close button -->
        <a href="" class="modal__close demo-close">
          <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
        </a>

      </div>
    </div>
  </div>

<script>
  var Modal = (function() {

  var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
  var modals = $qsa('.modal'); // the entire modal (takes up entire window)
  var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
  var content = $qsa('.modal__content'); // the inner content of the modal
  var closers = $qsa('.modal__close'); // an element used to close the modal
  var w = window;
  var isOpen = false;
  var contentDelay = 400; // duration after you click the button and wait for the content to show
  var len = trigger.length;

  // make it easier for yourself by not having to type as much to select an element
  function $qsa(el) {
    return document.querySelectorAll(el);
  }

  var getId = function(event) {

    event.preventDefault();
    var self = this;
    // get the value of the data-modal attribute from the button
    var modalId = self.dataset.modal;
    var len = modalId.length;
    // remove the '#' from the string
    var modalIdTrimmed = modalId.substring(1, len);
    // select the modal we want to activate
    var modal = document.getElementById(modalIdTrimmed);
    // execute function that creates the temporary expanding div
    makeDiv(self, modal);
  };

  var makeDiv = function(self, modal) {

    var fakediv = document.getElementById('modal__temp');

    /**
     * if there isn't a 'fakediv', create one and append it to the button that was
     * clicked. after that execute the function 'moveTrig' which handles the animations.
     */

    if (fakediv === null) {
      var div = document.createElement('div');
      div.id = 'modal__temp';
      self.appendChild(div);
      moveTrig(self, modal, div);
    }
  };

  var moveTrig = function(trig, modal, div) {
    var trigProps = trig.getBoundingClientRect();
    var m = modal;
    var mProps = m.querySelector('.modal__content').getBoundingClientRect();
    var transX, transY, scaleX, scaleY;
    var xc = w.innerWidth / 2;
    var yc = w.innerHeight / 2;

    // this class increases z-index value so the button goes overtop the other buttons
    trig.classList.add('modal__trigger--active');

    // these values are used for scale the temporary div to the same size as the modal
    scaleX = mProps.width / trigProps.width;
    scaleY = mProps.height / trigProps.height;

    scaleX = scaleX.toFixed(3); // round to 3 decimal places
    scaleY = scaleY.toFixed(3);


    // these values are used to move the button to the center of the window
    transX = Math.round(xc - trigProps.left - trigProps.width / 2);
    transY = Math.round(yc - trigProps.top - trigProps.height / 2);

    // if the modal is aligned to the top then move the button to the center-y of the modal instead of the window
    if (m.classList.contains('modal--align-top')) {
      transY = Math.round(mProps.height / 2 + mProps.top - trigProps.top - trigProps.height / 2);
    }


    // translate button to center of screen
    trig.style.transform = 'translate(' + transX + 'px, ' + transY + 'px)';
    trig.style.webkitTransform = 'translate(' + transX + 'px, ' + transY + 'px)';
    // expand temporary div to the same size as the modal
    div.style.transform = 'scale(' + scaleX + ',' + scaleY + ')';
    div.style.webkitTransform = 'scale(' + scaleX + ',' + scaleY + ')';


    window.setTimeout(function() {
      window.requestAnimationFrame(function() {
        open(m, div);
      });
    }, contentDelay);

  };

  var open = function(m, div) {

    if (!isOpen) {
      // select the content inside the modal
      var content = m.querySelector('.modal__content');
      // reveal the modal
      m.classList.add('modal--active');
      // reveal the modal content
      content.classList.add('modal__content--active');

      /**
       * when the modal content is finished transitioning, fadeout the temporary
       * expanding div so when the window resizes it isn't visible ( it doesn't
       * move with the window).
       */

      content.addEventListener('transitionend', hideDiv, false);

      isOpen = true;
    }

    function hideDiv() {
      // fadeout div so that it can't be seen when the window is resized
      div.style.opacity = '0';
      content.removeEventListener('transitionend', hideDiv, false);
    }
  };

  var close = function(event) {

    event.preventDefault();
    event.stopImmediatePropagation();

    var target = event.target;
    var div = document.getElementById('modal__temp');

    /**
     * make sure the modal__bg or modal__close was clicked, we don't want to be able to click
     * inside the modal and have it close.
     */

    if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {

      // make the hidden div visible again and remove the transforms so it scales back to its original size
      div.style.opacity = '1';
      div.removeAttribute('style');

      /**
      * iterate through the modals and modal contents and triggers to remove their active classes.
      * remove the inline css from the trigger to move it back into its original position.
      */

      for (var i = 0; i < len; i++) {
        modals[i].classList.remove('modal--active');
        content[i].classList.remove('modal__content--active');
        trigger[i].style.transform = 'none';
        trigger[i].style.webkitTransform = 'none';
        trigger[i].classList.remove('modal__trigger--active');
      }

      // when the temporary div is opacity:1 again, we want to remove it from the dom
      div.addEventListener('transitionend', removeDiv, false);

      isOpen = false;

    }

    function removeDiv() {
      setTimeout(function() {
        window.requestAnimationFrame(function() {
          // remove the temp div from the dom with a slight delay so the animation looks good
          div.remove();
        });
      }, contentDelay - 50);
    }

  };

  var bindActions = function() {
    for (var i = 0; i < len; i++) {
      trigger[i].addEventListener('click', getId, false);
      closers[i].addEventListener('click', close, false);
      modalsbg[i].addEventListener('click', close, false);
    }
  };

  var init = function() {
    bindActions();
  };

  return {
    init: init
  };

}());

Modal.init();
</script>
