<div class="banner">
  <%= image_tag 'kale.png', :class => "kale" %>
  <%= image_tag 'carrot.png', :class => "carrot" %>
  <%= image_tag 'corn.png', :class => "corn" %>
  <div class="banner-content">
    <h2 class="home-title">The Farmer's Market.<br>Delivered to your door.</h2>
    <h5 class="principal-para">See the grocery products that local farmers are providing in your delivery area.</h5>
    <%= form_tag postcodecheckers_path, method: :post do %>

      <input id="address" name="address" type="text" placeholder=" check address"
      <%if((!current_user.nil?) && (!current_user.contact.nil?) && (!current_user.contact.address.blank?))%>
       value=<%=current_user.contact.address%>
       <%end%>/>

      <input type="submit" value="shop now" class="banner-button" >
    <% end %>
  </div>
</div>

<div class="section" style="background-color: #fbf8f4;">
  <%= image_tag 'shallot.png', :class => "shallot" %>
  <%= image_tag 'trout.png', :class => "trout" %>
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <h5 class="section-para">
      More community, less hassle. Harvest delivers fresh groceries directly from local producers to your home.
    </h5>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'DeliveryTruck.svg', :class => "delivery-truck-icon" %></i></div>
        <h4 class="feature-title">Convenient Delivery</h4>
        <p class="feature-para">We take care of bringing quality local food to your kitchen.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'Watermelon.svg', :class => "watermelon-icon" %></i></div>
        <h4 class="feature-title">Amazingly Fresh Produce</h4>
        <p class="feature-para">Enjoy fresh food that is picked and prepared when you order.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'HouseLocal.svg', :class => "house-icon" %></i></div>
        <h4 class="feature-title">Support Local Producers</h4>
        <p class="feature-para">Trust who you´re getting your food from and support your neighbors. </p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><%= image_tag 'EcoLeaf.svg', :class => "ecoleaf-icon" %></i></div>
        <h4 class="feature-title">Eco-Conscious Groceries</h4>
        <p class="feature-para">Cut your carbon foot print and create a self-sustainable community.</p>
      </div>
    </div>
  </div>
</div>



<div class="section" style="background-color: white">
  <div class="section-content">
    <h2 class="home-title">Meet Local Producers</h2>
    <p class="section-para">Harvest lets you support your community and shop through people you know, trust and love.</p>
    <div class="cat-links">
      <%= link_to "vegetables", products_path(:anchor => "vegetables"), class: "homepage-cat-link" %>
      <%= link_to "fruits", products_path(:anchor => "fruits"), class: "homepage-cat-link" %>
      <%= link_to "meat", products_path(:anchor => "meats"), class: "homepage-cat-link" %>
      <%= link_to "fish", products_path(:anchor => "fish"), class: "homepage-cat-link" %>
      <%= link_to "dairy & eggs", products_path(:anchor => "dairy"), class: "homepage-cat-link" %>
      <%= link_to "bakery", products_path(:anchor => "bakery"), class: "homepage-cat-link" %>
      <%= link_to "wine & drinks", products_path(:anchor => "wine"), class: "homepage-cat-link" %>
      <%= link_to "pantry", products_path(:anchor => "pantry"), class: "homepage-cat-link" %>
      <%= link_to "deli", products_path(:anchor => "deli"), class: "homepage-cat-link" %>
      <%= link_to "recipes", products_path(:anchor => "recipes"), class: "homepage-cat-link" %>
    </div>
  </div>
</div>


    <div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">farmers</h3>
    <%= link_to "shop vegetables & fruits", products_path(:anchor => "vegetables"), class: "homepage-cat-link" %>
  </div>

    <%@producers = @farmers %>
    <%= render 'shared/producers' %>

  </div>

  <div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">butchers</h3>
    <%= link_to "shop meats", products_path(:anchor => "meats"), class: "homepage-cat-link" %>
  </div>
    <%@producers = @butchers %>
    <%= render 'shared/producers' %>
  </div>

  <div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">fishermen</h3>
    <%= link_to "shop local fish", products_path(:anchor => "fish"), class: "homepage-cat-link" %>
  </div>
    <%@producers = @fishermen %>
    <%= render 'shared/producers' %>
  </div>

  <div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">bakers</h3>
    <%= link_to "shop baked goods", products_path(:anchor => "bakery"), class: "homepage-cat-link" %>
  </div>
    <%@producers = @bakers %>
    <%= render 'shared/producers' %>
  </div>

<div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">winemakers</h3>
    <%= link_to "shop wine & drinks", products_path(:anchor => "wine"), class: "homepage-cat-link" %>
  </div>
    <%@producers = @winemakers %>
    <%= render 'shared/producers' %>
  </div>

    <div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">cooks</h3>
    <%= link_to "shop pantry items", products_path(:anchor => "pantry"), class: "homepage-cat-link" %>
  </div>
    <%@producers = @cooks %>
    <%= render 'shared/producers' %>
  </div>

    <div>
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">deli creatives</h3>
    <%= link_to "shop deli items", products_path(:anchor => "deli"), class: "homepage-cat-link" %>
  </div>
    <%@producers = @deli_creatives %>
    <%= render 'shared/producers' %>
  </div>
