<div class="banner">
  <div class="banner-content">
    <h2 class="home-title">The Farmer's Market.<br>Delivered to your door.</h2>
    <p class="principal-para">See the grocery products that local farmers are providing in your delivery area.</p>
    <%= form_tag postcodecheckers_path, method: :post do %>

      <input id="address" class="postcode-input-field" name="address" type="text" placeholder="check address"/>

      <input type="submit" value="shop now" class="homepage-button homepage-submit" data-modal="#modal">
    <% end %>
  </div>
</div>

<div class="section" style="background-color: #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <p class="section-para">Harvest helps you cut out the middleman by letting you order directly from the producter.</p>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"><i class="fa fa-cutlery fa-4x"></i></div>
        <h4 class="feature-title">Easy</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><i class="fa fa-leaf fa-4x"></i></div>
        <h4 class="feature-title">Fresh</h4>
        <p class="feature-para">Get fresh food that is picked and prepared when you order.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><i class="fa fa-map-marker fa-4x"></i></div>
        <h4 class="feature-title">Support Local Producers</h4>
        <p class="feature-para">Engage with your community and support the livelihood of all our local vendors.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"><i class="fa fa-recycle fa-4x"></i></div>
        <h4 class="feature-title">Eco-friendly</h4>
        <p class="feature-para">Pick local food to reduce CO2 emissions.</p>
      </div>
    </div>
  </div>
</div>



<div class="section" style="background-color: white">
  <div class="section-content">
    <h2 class="home-title">Local Producers</h2>
    <p class="section-para">Harvest lets you support your community and shop through people you know, trust and love.</p>
    <div class="cat-links">
      <%= link_to "vegetables", products_path(:anchor => "vegetables"), class: "homepage-cat-link" %>
      <%= link_to "fruits", products_path(:anchor => "fruits"), class: "homepage-cat-link" %>
      <%= link_to "meat", products_path(:anchor => "meats"), class: "homepage-cat-link" %>
      <%= link_to "fish", products_path(:anchor => "fish"), class: "homepage-cat-link" %>
      <%= link_to "dairy & eggs", products_path(:anchor => "dairy"), class: "homepage-cat-link" %>
      <%= link_to "bakery", products_path(:anchor => "bakery"), class: "homepage-cat-link" %>
      <%= link_to "wine & drinks", products_path(:anchor => "wine"), class: "homepage-cat-link" %>
      <%= link_to "pantry", products_path(:anchor => "pantry"), class: "homepage-cat-link" %>
      <%= link_to "deli", products_path(:anchor => "deli"), class: "homepage-cat-link" %>
    </div>
  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">farmers</h3>
    <%= link_to "shop vegetables & fruits", products_path(:anchor => "vegetables"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">butchers</h3>
    <%= link_to "shop meats", products_path(:anchor => "meats"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">fishermen</h3>
    <%= link_to "shop local fish", products_path(:anchor => "fish"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">dairy & egg farmers</h3>
    <%= link_to "shop dairy & egg products", products_path(:anchor => "dairy"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">bakers</h3>
    <%= link_to "shop baked goods", products_path(:anchor => "bakery"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">winemakers</h3>
    <%= link_to "shop wine & drinks", products_path(:anchor => "wine"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">cooks</h3>
    <%= link_to "shop pantry items", products_path(:anchor => "pantry"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 class="producer-cat-title" style="display: inline-block;">deli creatives</h3>
    <%= link_to "shop deli items", products_path(:anchor => "deli"), class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>


