
<div class="banner">
  <div class="banner-content">
    <h2 class="home-title">The Farmer's Market.<br>Delivered to your door.</h2>
    <p class="principal-para">Clean, honest food. Made by locals you love and brands you believe in. Home delivered by a family-owned company that’s dedicated to improving your home and community.</p>

    <%= link_to "shop now", products_path, class: "homepage-button" %>
  </div>
</div>

<div class="section" style="background-color: #fbf8f4;">
  <div class="section-content">
    <h2 class="home-title">Why Shop Here?</h2>
    <p class="section-para">Harvest helps your family free up time, shop wisely, and eat healthfully while supporting small businesses and local food banks.</p>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Convenient Home Delivery</h4>
        <p class="feature-para">We take the work out of getting great food in your kitchen and on the table.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Clean Store Promise</h4>
        <p class="feature-para">Shop confidently - All our food meets high standards. Satisfaction guaranteed!</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Support Small Local Businesses</h4>
        <p class="feature-para">By shopping here, you support the livelihood of all our local vendors.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar"></div>
        <h4 class="feature-title">Eco-Delivery</h4>
        <p class="feature-para">An eco-friendly, reusable bag is left at your address each week on your delivery day.</p>
      </div>
    </div>
  </div>
</div>

<div class="section" style="background-color: white">
  <div class="section-content">
    <h2 class="home-title">Get Started</h2>
    <p class="section-para">Let's find your local stall and make sure you're within our delivery area.</p>


    <%= form_tag root_path, method: :get do %>
      <input id="insert" class="postcode-input-field" name="address" type="text" placeholder="check postcode"/>
      <input type="submit" value="check" class="homepage-button homepage-submit modal__trigger" data-modal="#modal">
    <% end %>

  </div>
</div>


<div class="section" style="background-color: #fbf8f4">
  <div class="section-content">
    <h2 class="home-title">Local Producers</h2>
    <p class="section-para">Harvest makes it possible to support local and shop with the people you know, trust and love.</p>
    <div class="cat-links">
      <%= link_to "vegetables", products_path, class: "homepage-cat-link" %>
      <%= link_to "fruits", products_path, class: "homepage-cat-link" %>
      <%= link_to "meat", products_path, class: "homepage-cat-link" %>
      <%= link_to "fish", products_path, class: "homepage-cat-link" %>
      <%= link_to "dairy & eggs", products_path, class: "homepage-cat-link" %>
      <%= link_to "bakery", products_path, class: "homepage-cat-link" %>
      <%= link_to "wine & drinks", products_path, class: "homepage-cat-link" %>
      <%= link_to "pantry", products_path, class: "homepage-cat-link" %>
      <%= link_to "deli", products_path, class: "homepage-cat-link" %>
    </div>
  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">farmers</h3>
    <%= link_to "shop vegetables & fruits", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">butchers</h3>
    <%= link_to "shop meats", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">fishermen</h3>
    <%= link_to "shop local fish", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">dairy & egg farmers</h3>
    <%= link_to "shop dairy & egg products", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">bakers</h3>
    <%= link_to "shop baked goods", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">winemakers</h3>
    <%= link_to "shop wine & drinks", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">cooks</h3>
    <%= link_to "shop pantry items", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div style="background-color: #fbf8f4;">
  <div class="carousel-title">
    <h3 style="display: inline-block;">deli creatives</h3>
    <%= link_to "shop deli items", products_path, class: "homepage-cat-link" %>
  </div>

  <div class="farmer-cards">
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>
    <div class="farmer-card">
      <div class="farmer-card-content">
        <div class="farmer-photo" style="display: inline">
        </div>
        <div class="farmer-info" style="display:inline">
          <h5 class="farmer-name">Archie Kenwright</h5>
          <h6 class="farmer-card-location">Brisbane</h6>
          <p class="farmer-card-para">Archie Kenwright is a 3rd generation farmer specialising in growing swiss potatoes and brown onions.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="demo-btns">
   <div class="info">
      <div class="buttons">
        <p>
          <a href="" data-modal="#modal" class="modal__trigger">Modal 1</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__content">
        <h1>Modal</h1>
        <p>Sorry, we are currently not delivering to your area. Feel free to sign up to our mailing list.</p>
        <%= link_to "shop now", products_path, class: "homepage-button" %>

        <!-- modal close button -->
        <a href="" class="modal__close demo-close">
          <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
        </a>

      </div>
    </div>
  </div>

<%= javascript_pack_tag 'modal' %>
