<!-- #empty page
#send email
 -->
<div id="confirmation_card">

  <div id="confirmation_headline">
    <h2>Thanks for shopping with harvest.</h2>
  </div>

  <div id="confirmation-image-center">
    <div id="confirmation-image" style="background-image: url('https://instagram.fmad3-1.fna.fbcdn.net/vp/313e7eb53c0c2aeefdb6226de1bc3cdb/5B37408C/t51.2885-15/e35/26186842_389010881539000_2585585744009494528_n.jpg')";>
    </div>
  </div>


  <div id="confirmation_text">
   <% delivery_cost = 500  %>
    <% @order.amount_cents = @order.amount_cents + delivery_cost %>
    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px 10px 0px 10px">
      <h6>reference number : 000<%= @order.id %></h6>
      <h6>paid: <%= humanized_money_with_symbol(@order.amount) %></h6>
    </div>
    <p style= "margin-top: 10px; text-align: center;">Your order <strong>will be delivered on <%= @order.updated_at.strftime("%B") %> <%= @order.updated_at.day + 2 %>, <%= @order.updated_at.year %></strong>. Check your email for delivery updates and your purchase receipt.</p>
  </div>



  <!-- <div id="confirmation_quote">
    <p>To keep the body in good health is a duty, otherwise we shall not be able to keep our mind strong and clear. - Gautama Buddha</p>
  </div> -->
  <div id="confirmation_button">
    <%= link_to "shop more", products_path, class:"homepage-button homepage-submit" %>
  </div>
</div>



<!-- button to continue shopping -->
