


  <div class="sidenav">
    <%= link_to "all", products_path, class: "sidenav-link" %>
    <%= link_to "vegetables", products_path, class: "sidenav-link" %>
    <%= link_to "fruits", products_path, class: "sidenav-link" %>
    <%= link_to "meat", products_path, class: "sidenav-link" %>
    <%= link_to "fish", products_path, class: "sidenav-link" %>
    <%= link_to "dairy & eggs", products_path, class: "sidenav-link" %>
    <%= link_to "bakery", products_path, class: "sidenav-link" %>
    <%= link_to "wine & drinks", products_path, class: "sidenav-link" %>
    <%= link_to "pantry", products_path, class: "sidenav-link" %>
    <%= link_to "deli", products_path, class: "sidenav-link" %>
  </div>
  <div class="products-section">
    <div class="products-index">


<% policy_scope(@products).each do |product| %>




  <%# link_to "Show", product_path(product.id),:style=> 'color:blue'%>


  <div class="product-card overlay white">
        <div class="product-card-content">
          <h5 class="product-card-title"><%= product.producer.name %>'s<br><%= product.name%></h5>
          <p class="product-card-price">$27.00ea</p>
        </div>
        <div class="add-controls">

        <% if ((!current_user.nil?) && (!current_user.orders.find_by(status: "new").nil?) && (!current_user.orders.find_by(status: "new").order_lines.find_by(product: product.id).nil?)) %>
        <% orderline = current_user.orders.find_by(status: "new").order_lines.find_by(product: product.id)%>
        <div class="plus-minus-qty">
          <%= link_to image_tag("minus-icon.png", size: "16x2"), remove_order_lines_path(orderline.id), method: :get, class: "add_to_basket"%>
            <h3 class="qty">100g</h3>
            <%= link_to image_tag("plus-icon.png", size: "16x16"), add_order_lines_path(orderline.id), method: :get, class: "remove_from_basket"%>
            </div>
          <% else %>
          <button class="add-to-cart-btn"><%= link_to "Add", product_order_lines_path(product.id), method: :post, class: "add_to_basket" %></button>
          </div>
          <% end %>
    </div>
  </div>

<% end %>

    </div>
  </div>


<!-- JS SCRIPTS -->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
  $('.add_to_basket').click(function (event) {
    addToBasket();
  });
</script>
