
  <h1><%= @product.name %></h1>

  <h3>fresh <%= @product.name %> from <%= @product.producer.name %>'s farm</h3>
  <ul>
    <li> Fat: <%= @fat_quant %> / <%= @fat_unit %></li>
    <li> Calories: <%= @calories_quant %> / <%= @calories_unit %></li>
    <li> Sodium: <%= @sodium_quant %> / <%= @sodium_unit %></li>

  </ul>


